{% extends 'base.html' %}

{% block content %}
<h1>Tugas 4 PBP/PBD</h1>

<h3>Halo {{nama}}, selamat datang di Aplikasi To Do List</h3>

<button><a href="{% url 'todolist:create_task' %}">Tambah Tugas</a></button>

<table>
	<tr>
		<th>Tanggal</th>
		<th>Tugas</th>
		<th>Deskripsi</th>
		<th>Status</th>
		<th>Ubah Status</th>
		<th>Hapus</th>
	</tr>
	
	{% for tugas in list_task %}
	<tr>
		<th>{{tugas.date}}</th>
		<th>{{tugas.title}}</th>
		<th>{{tugas.description}}</th>
		{% if tugas.is_finished %}
			<th>Selesai</th>
		    <th><button><a href = "{% url 'todolist:ubah_status' tugas.id %}">Tandai Belum Selesai</a></button></th>
		{% else %}
			<th>Belum Selesai</th>
			<th><button><a href = "{% url 'todolist:ubah_status' tugas.id %}">Tandai Selesai</a></button></th>
		{% endif %}
		<th><button><a href = "{% url 'todolist:hapus' tugas.id %}">Hapus</a></button></th>

	</tr>
	{% endfor %}
</table>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}